@use "@angular/material" as mat;

$template-theme-name: "%theme-name%";

$template-theme-primary: (
    50: #a09905,
    100: #a09910,
    200: #a09920,
    300: #a09930,
    400: #a09940,
    500: #a09950,
    600: #a09960,
    700: #a09970,
    800: #a09980,
    900: #a09990,
    A100: #a099a1,
    A200: #a099a2,
    A400: #a099a4,
    A700: #a099a7,
    contrast: (
        50: #ac9905,
        100: #ac9910,
        200: #ac9920,
        300: #ac9930,
        400: #ac9940,
        500: #ac9950,
        600: #ac9960,
        700: #ac9970,
        800: #ac9980,
        900: #ac9990,
        A100: #ac99a1,
        A200: #ac99a2,
        A400: #ac99a4,
        A700: #ac99a7
    )
);

$template-primary-palette: mat.define-palette($template-theme-primary);

$template-theme-accent: (
    50: #b09905,
    100: #b09910,
    200: #b09920,
    300: #b09930,
    500: #b09950,
    400: #b09940,
    600: #b09960,
    700: #b09970,
    800: #b09980,
    900: #b09990,
    A100: #b099a1,
    A200: #b099a2,
    A400: #b099a4,
    A700: #b099a7,
    contrast: (
        50: #bc9905,
        100: #bc9910,
        200: #bc9920,
        300: #bc9930,
        400: #bc9940,
        500: #bc9950,
        600: #bc9960,
        700: #bc9970,
        800: #bc9980,
        900: #bc9990,
        A100: #bc99a1,
        A200: #bc99a2,
        A400: #bc99a4,
        A700: #bc99a7
    )
);

$template-accent-palette: mat.define-palette($template-theme-accent);

$template-theme-warn: (
    50: #c09905,
    100: #c09910,
    200: #c09920,
    300: #c09930,
    400: #c09940,
    500: #c09950,
    600: #c09960,
    700: #c09970,
    800: #c09980,
    900: #c09990,
    A100: #c099a1,
    A200: #c099a2,
    A400: #c099a4,
    A700: #c099a7,
    contrast: (
        50: #cc9905,
        100: #cc9910,
        200: #cc9920,
        300: #cc9930,
        400: #cc9940,
        500: #cc9950,
        600: #cc9960,
        700: #cc9970,
        800: #cc9980,
        900: #cc9990,
        A100: #cc99a1,
        A200: #cc99a2,
        A400: #cc99a4,
        A700: #cc99a7
    )
);

$template-warn-palette: mat.define-palette($template-theme-warn);
