@use '~@angular/material' as mat;
@import "template";

@mixin app-declare-theme($theme-name) {
    $theme-container: "[li-theme='#{$theme-name}']:not([active='false'])";

    #{$theme-container} {
        @content;
    }

    /* Support nested theme container definitions */
    [li-theme]:not([li-theme="#{$theme-name}"]) {
        #{$theme-container} {
            @content;
        }
    }
}

@mixin app-theme(
    $theme-name,
    $theme-primary,
    $theme-accent,
    $theme-warn,
    $is-dark: false
) {
    @include app-declare-theme($theme-name) {
        @if $is-dark {
            @include mat.all-component-themes(mat.define-dark-theme((
                color: (
                    primary: $theme-primary,
                    accent: $theme-accent,
                    warn: $theme-warn
                )
            )));
        } @else {
            @include mat.all-component-themes(mat.define-light-theme((
                color: (
                    primary: $theme-primary,
                    accent: $theme-accent,
                    warn: $theme-warn
                )
            )));
        }

        @content;
    }
}